.ipynb_checkpoints/
data/Meta-Llama-3-70B_demographics_survey+political_affiliation_batch_1+2+3_no_word_cutoff.pkl
data/anthology/Meta-Llama-3-70B_demographics_survey+political_affiliation_batch_1+2+3_no_word_cutoff.pkl
*.out
__pycache__/
training_data/out/*
training_data/out_education/*
training_data/out_therapy/*
wandb/
logs/